[Unit]
Description=IoT home json to database logging service
After=postgresql.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/dblogd --config /etc/dblogd/dblogd.yml

[Install]
WantedBy=multi-user.target